---
// Example: Filter out content entries with `draft: true` only when building for production
import {getCollection} from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import {Card} from "../../components/card/card.tsx";
const blogEntries = await getCollection('blog', ({data}) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});
blogEntries.sort((a, b) => {
    return b.data.date - a.data.date;
});
---


<Layout>
    <div class="posts-wrapper">
        {
            blogEntries.map((p) => (
                    <Card title={p.data.title} subTitle={p.data.date.toDateString()}
                          linkTo={'/blog/' + p.slug}
                          body={p.data.summary}/>
            ))
        }
    </div>
</Layout>

<style>
    .posts-container {
        display: flex;
        align-items: center;
    }

    .posts-wrapper {
        margin: 2rem 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
    }

</style>
