---
// Example: Filter out content entries with `draft: true` only when building for production
import {getCollection} from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import {Card} from "../../components/card/card.tsx";
const blogEntries = await getCollection('blog', ({data}) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});
---


<Layout>
    <div>
        {
            blogEntries.map((p) => (
                    <Card title={p.data.title} subTitle={p.data.date.toDateString()} linkTo={'/blog/' + p.slug}
                          body={p.data.summary}/>
            ))
        }
    </div>
</Layout>
