---
export interface Props {
  title: string;
  body: string;
  subTitle: string;
  linkTo?: string;
}

const { title, subTitle, body, linkTo } = Astro.props;
---

<div
  class="transition-transform duration-300 hover:scale-105 subpixel-antialiased bg-gray-950 rounded-lg"
>
  <div class="m-8">
    {
      title && (
        <h1
          class="font-fields hover:text-orange-400 transition-colors text-white text-5xl mb-2"
          transition:name={`title-${title}`}
        >
          <a href={linkTo}>{title}</a>
        </h1>
      )
    }
    {
      subTitle && (
        <i>
          <time
            class="font-fields text-neutral-400"
            transition:name={`date-${subTitle}`}
          >
            {subTitle}
          </time>
        </i>
      )
    }
    {body && <article class="font-fields text-neutral-300">{body}</article>}
  </div>
</div>
