---
import {MarkdownLayoutProps} from "astro";
import {RelatedPosts} from "../components/related-posts/related-posts";

type Props = MarkdownLayoutProps<{
    frontmatter: {
        title: string;
        relatedPosts: string[];
        date: Date
        tags: string[];
    }
    relatedPosts: unknown
}>

const options = {
    year: "numeric",
    month: "numeric",
    day: "numeric",
};

const {frontmatter, relatedPosts} = Astro.props;
const formattedPublishedDate = new Date(frontmatter.date).toLocaleDateString("en-US", options as Intl.DateTimeFormatOptions);
---
<div class="markdown-wrapper">
    <article class="markdown-container">
        <div class="tags">
            <sub class="tags-list">
                {frontmatter.tags.map(tag => (
                        <strong>{tag}</strong>
                ))}
            </sub>
        </div>
        <h1 class="frontmatter-header">{frontmatter.title}
            <span class="header-line"></span>
        </h1>
        <time datetime={frontmatter.date} class="pub-date"><i>{formattedPublishedDate}</i></time>

        <slot/>

        <RelatedPosts posts={relatedPosts}/>

    </article>
</div>

<style is:global>
    h2, h3, h4 {
        font-family: 'Wubberly', sans-serif;
        font-weight: bold;
        margin-left: -1rem;
    }

    .frontmatter-header {
        font-family: 'Wubberly', sans-serif;
        font-size: 5rem;
        font-weight: 700;
        position: relative;
        margin-bottom: 2rem;
        padding-top: 0;
        margin-top: 0;
    }

    body {
        font-size: 1.1rem;
        line-height: 1.7;
    }


    .tags-list {
        list-style: none;
        display: inline-flex;
        gap: .5rem;
        margin-top: 3rem;
    }

    .markdown-wrapper {
        display: flex;
        justify-content: center;
    }

    .markdown-container {
        max-width: 800px;
        margin-top: 8rem;
        position: relative;
    }

    .header-line {
        display: block;
        position: absolute;
        overflow: hidden;
        width: 25rem;
        right: 0;
        height: 2px;
        background-color: var(--accent-orange);
    }

    @media (max-width: 800px) {
        .markdown-container {
            margin-left: 2rem;
            margin-right: 2rem
        }

        .header-line {
            width: 15rem;
        }

        .frontmatter-header {
            font-size: 3rem;
        }
    }
</style>