---
import {MarkdownLayoutProps} from "astro";
import {RelatedPosts} from "../components/related-posts/related-posts";

type Props = MarkdownLayoutProps<{
    frontmatter: {
        title: string;
        relatedPosts: string[];
        date: Date
        tags: string[];
    }
    relatedPosts: unknown
}>

const options = {
    year: "numeric",
    month: "numeric",
    day: "numeric",
};

const {frontmatter, relatedPosts} = Astro.props;
const formattedPublishedDate = new Date(frontmatter.date).toLocaleDateString("en-US", options as Intl.DateTimeFormatOptions);
---
<div class="markdown-wrapper">
    <article class="markdown-container">
        <h1>{frontmatter.title}</h1>
        <p>Date Published: {formattedPublishedDate}</p>
        <div class="tags">
            <span>Tags: </span>
            <ul class="tags-list">
                {frontmatter.tags.map(tag => (
                        <li>{tag}</li>
                ))}
            </ul>
        </div>

        <slot/>

        <RelatedPosts posts={relatedPosts}/>

    </article>
</div>

<style is:global>
    h1, h2, h3, h4 {
        font-family: SpaceGrotesk, 'sans-serif';
        font-weight: bold;
        margin-left: -1rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-decoration: var(--accent-blue);
        text-decoration-line: underline;
    }


    .tags-list {
        list-style: none;
        display: inline-flex;
        gap: .5rem
    }

    .markdown-wrapper {
        display: flex;
        justify-content: center;
    }

    .markdown-container {
        max-width: 800px;
        margin-top: 8rem;
    }

    @media (max-width: 800px) {
        .markdown-container {
            margin-left: 2rem;
            margin-right: 2rem
        }
    }
</style>