---
type Props = {
    title: string,
    date: string,
    content: string
}

const options = { year: 'numeric', month: 'long', day: 'numeric' };

const {title, date, content} = Astro.props;

const formattedPublishedDate = new Date(date).toLocaleDateString("en-US", options as Intl.DateTimeFormatOptions);

---

<div class="markdown-wrapper">
        <h1 class="frontmatter-header wubberly">{title}
            <span class="header-line"></span>
        </h1>
        <div class="dates">
            <time datetime={date} class="pub-date"><i>{formattedPublishedDate}</i></time>
            <!-- <time datetime={frontmatter.dateUpdated} class:list={['pub-date', {'hidden': !frontmatter.dateUpdated}]}> -->
            <!--     <strong>updated on: </strong> <i>{formattedDateUpdated}</i> -->
            <!-- </time> -->
        </div>

        <article class="markdown-container fields" set:html={content} />
</div>

<style is:global>
    h2, h3, h4, h5, h6 {
        font-family: 'Wubberly', sans-serif;
        font-weight: bold;
        margin-bottom: var(--lg);
        margin-top: var(--2xl)
    }

    h2 {
        font-size: var(--font-2xl)
    }

    h3 {
        font-size: var(--font-xl)
    }

    .frontmatter-header {
        font-size: 5rem;
        text-align: center;
        font-weight: 700;
        position: relative;
        margin-bottom: 2rem;
        padding-top: 0;
        margin-top: 0;
    }

    body {
        font-size: var(--font-lg);
        line-height: 1.7;
    }

    .hidden {
        display: none;
    }

    .tags-list {
        list-style: none;
        display: inline-flex;
        gap: .5rem;
        margin-top: 3rem;
        color: var(--blue-500);
    }

    .tag-separator {
        color: var(--red-500);
    }

    .tag-separator:last-child {
        display: none;
    }

    .markdown-wrapper {
        display: flex;
        justify-content: center;
    }

    .markdown-container {
        margin-top: var(--3xl);
        position: relative;
        width: min(100%, 65ch);
    }

    .header-line {
        display: block;
        position: absolute;
        overflow: hidden;
        right: 0;
        left: 0;
        height: 2px;
        background-color: var(--accent-orange);
    }

    .dates {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: 2rem;
        color: var(--green-800);
    }

    @media (max-width: 800px) {
        .markdown-container {
            margin-top: var(--sm);
        }

        .tags-list {
            margin-top: 1rem;
        }

        .frontmatter-header {
            font-size: 3rem;
        }
    }

    article:is(h1, h2, h3, h4, h5, h6) {
        text-wrap: balance;
    }
</style>
